.CreateCards {
    display: grid;
    justify-items: center;
    grid-template-rows: 3;
    padding: 10px;
    gap: 10px;
    background-color: rgb(218, 203, 203);
    box-shadow: 0px 0px 0px 1px rgb(146, 144, 144);
}

.CreateCards .cardTitle {
    grid-row: 1/2;
}

.CreateCards .cardDescription {
    grid-row: 2/3;
}

.CreateCards .buttons {
    grid-row: 3/4;
}