.CreateCards {
    font-family: 'Sofia Sans', sans-serif;
    color: white;
    justify-items: center;
    background-image: linear-gradient(to bottom left, #59afff44, #b22eff44);
    border: 10px solid;
    border-color: #59afff #59afff #b22eff #b22eff;
    /* text-shadow: 0 0 4px black; */
    transition: background-image 0.4s linear;
}

.CreateCards .wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 10px;
    max-width: 70%;
    gap: 10px;
}

.CreateCards .labels {
    font-size: 1.2em;
    text-align: end;
}

.CreateCards input {
    height: 1.5em;
    line-height: 1.5em;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 1em;
    color: black;
    justify-items: center;
    background-image: linear-gradient(to bottom left, #59afff6a, #b22eff6a);
}

.CreateCards select {
    height: 1.5em;
    line-height: 1.5em;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 1em;
    color: black;
    justify-items: center;
    background-image: linear-gradient(to bottom left, #59afff6a, #b22eff6a);
}

.CreateCards .buttons {
    grid-column: 1/3;
    margin: 5px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.CreateCards .buttons input {
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    display: flex;
    place-content: center;
    place-items: center;
    font-size: 2em;
    color: white;
    background: #b22eff;
    border: none;
}

.CreateCards .buttons input:hover {
    color: black;
    background: #59afff;
}