.ListOfCards {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
}

.ListOfCards .listTitle {
    background-color: rgb(236, 226, 226);
    box-shadow: 0px 0px 0px 1px rgb(146, 144, 144);
}