.ListOfCards {
    display: flex;
    flex-direction: column;
    flex: 1;

    padding: 10px;
    gap: 10px;

    /* border: 1px dotted black; */
    border: 10px solid;
    border-color: #59afff #59afff #b22eff #b22eff
    /* box-shadow:
        -4px  4px 0 4px #b22eff,
         4px -4px 0 4px #59afff; */
}

.ListOfCards .listTitle {
    font-family: 'Rubik Spray Paint', cursive;
    font-weight: bolder;
    font-size: 1.7em;
    color: white;
    text-shadow:
        0px 2px black,
        0px -2px black,
        2px 0px black,
        -2px 0px black,
        -4px 4px #b22eff,
        4px -4px #59afff;
}